* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5%*/
  font-family: "Roboto", sans-serif;
}

.toggle-container {
  border: 3px solid #efefef;
  width: 6.7rem;
  height: 3.6rem;
  border-radius: 10rem;
  margin: 2rem 0;
  font-size: 1.8rem;
  font-weight: 800;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 3rem;
  height: 3rem;
  background-color: red;
  border-radius: 100px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.toggle-on {
  transform: translateX(3rem);
}

.weather-container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000d0;
  color: #fff;
  padding: 2em;
  border-radius: 3rem;
  max-width: 42rem;
  margin: 1em;
}

#search {
  border: none;
  outline: none;
  padding: 1rem 1rem;
  margin-right: 1rem;
  border-radius: 2.4rem;
  background: #7c7c7c2b;
  color: #fff;
  font-size: 110%;
}

.form {
  display: flex;
  margin-bottom: 2rem;
}

.search-icon {
  width: 4rem;
  height: 1.7rem;
}

#submit {
  border-radius: 10rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-city {
  padding: 1rem;
}

.temperature {
  font-size: 2rem;
  padding-bottom: 1rem;
}
